# =========================
# DATASETS (NO subir)
# =========================
DATASETS/

# Archivos grandes / datos
*.pcap
*.pcapng
*.labeled
*.log
*.csv

# =========================
# Python / notebooks
# =========================
__pycache__/
*.pyc
.ipynb_checkpoints/

# =========================
# Editor / system
# =========================
.vscode/
.env
.DS_Store
Thumbs.db
