# =========================
# DATASETS (NO subir)
# =========================
DATASETS/dataSets_Raw/
DATASETS/dataSets_Reducidos/

# Archivos grandes / datos
*.pcap
*.pcapng
*.labeled
*.log
*.csv

# =========================
# Python / notebooks
# =========================
__pycache__/
*.pyc
.ipynb_checkpoints/

# =========================
# Editor / system
# =========================
.vscode/
.env
.DS_Store
Thumbs.db


# Dentro del archivo .gitignore
tfg_env/
__pycache__/
*.csv