# Archivos grandes / datos
*.pcap
*.pcapng
*.labeled
*.log

# =========================
# Python / notebooks
# =========================
*.csv
__pycache__/
*.pyc
.ipynb_checkpoints/

# =========================
# LaTeX build / auxiliares
# =========================
MEMORIA_TFG/build/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc

# =========================
# Editor / system
# =========================
.vscode/
.env
.DS_Store
Thumbs.db


# Dentro del archivo .gitignore
tfg_env/
__pycache__/
